In [4]:
import pandas as pd

In [6]:
df1b = pd.read_csv('brics.csv', index_col=0) #read from csv col

In [13]:
df1b

          country  population democratic
fr         france       50.60          y
uk  great britain       49.89          y
de        germany       64.90          y
ru         russia      112.34          n
tr         turkey       87.50          n
es          spain       65.33          y

In [16]:
df1b.loc[['uk']] # use loc with  a char value of an index

          country  population democratic
uk  great britain       49.89          y

In [17]:
df1b.iloc[[0]] #use iloc with numeric index for a row

   country  population democratic
fr  france        50.6          y

In [22]:
cars =  pd.read_csv('cars.csv', index_col=0)
cars

     cars_per_cap        country drives_right
US            809  United_States         True
AUS           731      Australia        False
JAP           588          Japan        False
IN             18          India        False
RU            200         Russia         True
MOR            70        Morocco         True
EG             45          Egypt         True

In [25]:
# select a sub dataframe (rows and column index start from 0)
cars.iloc[[1,2], [1,2]]

       country drives_right
AUS  Australia        False
JAP      Japan        False

In [41]:
cars.loc[:,'drives_right']

US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool

In [43]:
#as data frame
cars.loc[:,['drives_right']]

    drives_right
US          True
AUS        False
JAP        False
IN         False
RU          True
MOR         True
EG          True

In [49]:
#as data frame subset of columns
cars.loc[:, ['cars_per_cap' ,'drives_right']]

     cars_per_cap drives_right
US            809         True
AUS           731        False
JAP           588        False
IN             18        False
RU            200         True
MOR            70         True
EG             45         True

### revisit comparison operators

In [51]:
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

In [55]:
#produces an array of booleans with element comparison
my_house >= 18

array([ True,  True, False, False], dtype=bool)

In [56]:
#produces an array of booleans with element by element comparison
my_house < your_house

array([False,  True,  True, False], dtype=bool)

#### boolean operators:   and , or, not

For numpy arrays: logical_an(), logical_or(), logical_not()

In [58]:
my_kitchen = 18.0
your_kitchen = 14.0
print(my_kitchen > 10 and my_kitchen < 18)
print(my_kitchen < 14 or my_kitchen > 17)

False
True

In [59]:
#logical opearators on arrays
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

In [60]:
# my_house greater than 18.5 or smaller than 10
print(np.logical_or(my_house > 18.5, my_house < 10 )) 

# Both my_house and your_house smaller than 11
print(np.logical_and(my_house < 11, your_house < 11))

[False  True False  True]
[False False False  True]

### conditional statements  if, ilif, else

if condition_1 :
    
    expression 1
    
elif condition_2 :

    expression 2
    
else

    expression 3

In [64]:
room = "kit"
area = 14.0
if room == "kit" :
    print("looking around in the kitchen.")
if area > 15 :
    print("big place!")

looking around in the kitchen.